<div class="listing-detail-container">
  <h2>{{$ctrl.listing.title}}</h2>
  <span class="listing-image">
        <img ng-src="{{$ctrl.listing.image_url}}">
  </span>
  <span class="listing-information">
        <div class="listing-information-detail">
         <h3>Daily Price: {{$ctrl.listing.daily_price}}</h3>
         <h3 ng-click="$ctrl.goToUserPage($ctrl.listing)">Host: {{$ctrl.getUserName()}}</h3>
         <h3>Sharing Type: {{$ctrl.shared_room_type[$ctrl.listing.sharing_type]}}</h3>
         <h3>Bed Capacity: <span ng-repeat="bed_capacity in $ctrl.getBedCapacity($ctrl.listing) track by $index"><img class="bed-icons" ng-src="/img/bed.png"></span></h3>
        </div>
      </span>
</div>
