/* BGCOLOR      #FAFAFA */
/* FONTCOLOR    #3A4057 */
/* PRIMARYCOLOR #31B88F */

body {
  background: #FAFAFA;
  color: #3A4057;
}

.icon {
  background-image: url('../assets/logo_green.svg');
  height: 72px;
  margin: auto;
  width: 204px;
  margin-left: 0px;
  display: inline-block;
}
.facebook-icon{
  background-image: url('/img/facebook.svg');
  height: 24px;
  margin: auto;
  width: 24px;
  float: right;
  display: inline-block;
  margin-right: 5px;
}
.instagram-icon{
  background-image: url('/img/instagram.svg');
  height: 24px;
  margin: auto;
  width: 24px;
  float: right;
  display: inline-block;
  margin-right: 5px;
}
.twitter-icon{
  background-image: url('/img/twitter.svg');
  height: 24px;
  margin: auto;
  width: 24px;
  float: right;
  display: inline-block;
  margin-right: 5px;
}
.listing-item-capacity {
  color: #31B88F;
}
.listings-title{
  background-color: #31B88F;
  color: white;
  /*margin-left: -50%;
  margin-right: -50%;*/
  text-align: center;
  font-size: 32px;
  height: 64px;
  line-height: 64px;
}

.listing-container {
  /*margin-top: 60%;*/
}
.listing-title{
  display: block;
}
.listing-image{
  display: inline;
}
.listing-information{
  vertical-align: top;
  display: inline-flex;
  margin-left: 24px;
}
.listing-information-detail{
  vertical-align: top;
  display: block;
}

.bed-icons {
  width: 20px;
  height: 20px;
}

.user-container {
  margin-right: 10%;
  margin-left: 10%;
  min-height: 785px;
}
.picture-of-user {
  display: inline;
}
.user-name {

}
.user-listings-title{
  color: #31B88F;
  display: inline;
}
video{
  background-size: cover;
  position: absolute;
  z-index: -100;
  width: 100%;
  border: 1px white dotted;

}
.video-container{
  position: relative;
  width: auto;
  height: 675px;
  /*margin-top: 0px;
  border: 1px white dotted;*/
}

.login-area{
  text-align: left;
  display: inline;
  margin-left: 0px;
}
.sign-up-area{
  text-align: left;
  display: inline;
  margin-left: 0px;
  background-color: #31B88F;
  color: white;
}
.search-area{
  text-align: right;
  display: inline;
  margin-right: 0px;
  float: right;
  margin-top: 24px;
}
.main-page-header{
  height: 64px;
  line-height: 64px;
}

.main-page-footer{
  height: 64px;
  line-height: 64px;
  /*bottom: 0px;*/
  position: absolute;
}

.user-detail{
  display: flex;
}
.user-picture{
  display: block;
}
.user-information{
  vertical-align: middle;
  display: block;
  margin-left: 24px;
  margin-top: 75px;
}
.user-information-detail{
  vertical-align: middle;
  display: block;
}
.login-elements{
  margin: 0 auto;
  text-align: center;
  min-height: 765px;
}
.login-credentials{
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
}
.btn-eyirbiyenbi{
  background-color: #31B88F;
  color:white;
  margin-top: 2px;
  margin-bottom: 5px;
}
.log-out-area{
  text-align: left;
  display: inline;
  margin-left: 0px;
  background-color: white;
}

.edit-listing-button{
  float:right;
  margin-left: 1px;
  margin-right: 1px;
}

.footer-title{
  background-color: #31B88F;
  color: white;
  text-align: center;
  font-size: 32px;
  height: 64px;
  line-height: 64px;
  left: 0px;
  right: 0px;
}
.listing-detail-container{
  min-height: 765px;
}
.add-listing-container{
  min-height: 778px;
}
