
<div class="container">
<header class="main-page-header">
  <button ng-hide="$ctrl.Authentication.userLoggedIn" ng-click="$ctrl.goToLogin()" class="login-area btn btn-default">Login</button>
  <button ng-hide="$ctrl.Authentication.userLoggedIn" ng-click="$ctrl.goToSignUp()" class="sign-up-area btn">Sign Up</button>
  <button ng-show="$ctrl.Authentication.userLoggedIn" ng-click="$ctrl.goToUserProfile()" class="sign-up-area btn btn-default">Profile</button>
  <button ng-show="$ctrl.Authentication.userLoggedIn" ng-click="$ctrl.logOut()" class="log-out-area btn btn-default">Log Out</button>
  <!--div class="search-area">Search</div-->
</header>
  <div ng-click="$ctrl.goToHome()" class="icon"></div>
  <div class="instagram-icon"></div>
  <div class="twitter-icon"></div>
  <div class="facebook-icon"></div>
  <ui-view />
</div> <!-- /container -->
<footer class="main-page-footer footer-title">Contact</footer><!--TODO Set footer on the bottom of the page-->

